workflows/content-creation-system.json
{
  "name": "content-creation-system",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1peOHv1DDpMccY2f1_6pKVMNcPyVvbPdPiE1Ygbg15QM",
          "mode": "list",
          "cachedResultName": "Social media content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1peOHv1DDpMccY2f1_6pKVMNcPyVvbPdPiE1Ygbg15QM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1peOHv1DDpMccY2f1_6pKVMNcPyVvbPdPiE1Ygbg15QM/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f68eff6a-b306-44cf-bbf7-f338d47e863b",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "gFdarYyHCH0vE8Bl",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24562378-2b77-4eb9-9f4d-9237e06ab424",
              "name": "query",
              "value": "={{ $json['Content Subject'] }}",
              "type": "string"
            },
            {
              "id": "eae12b8c-c0ec-44a0-a96f-7b4e5193cb22",
              "name": "targetAudience",
              "value": "={{ $json['Target Audience'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "5eb1903e-95c4-4904-983e-1f216f98cc92",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"query\": \"{{$json.query.replace(/\"/g,'\\\\\"')}}\",\n \"search_depth\": \"basic\",\n \"include_answer\": true,\n \"topic\": \"news\",\n \"include_raw_content\": true,\n \"max_results\": 3\n} \n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "414af25b-17bb-49cf-8718-6b9b40d9b271",
      "name": "Search web",
      "credentials": {
        "httpBearerAuth": {
          "id": "MfsDJxxue8g10Y0x",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "4f46be91-39cf-493e-8448-2e95a799f877",
      "name": "Split Out"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "title,content",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "c0eaacf9-a70a-44ef-b684-792e657b0635",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        912,
        208
      ],
      "id": "60d5503d-b4a0-47fc-b542-e9cb77d7f118",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "k1LlAF6k2qdMfWF5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article Content:\n {{ $json.data.toJsonString() }}\nTraget Audience:\n{{ $('Edit Fields').item.json.targetAudience }}",
        "options": {
          "systemMessage": "=** System Role **\nYou are a professional LinkedIn content specialist who turns articles\ninto high-performing LinkedIn posts aimed at specific professional audiences.\n** Task Details **\nUse the article provided to create a LinkedIn post that is:\nClear, engaging, and optimized for mobile reading\nTailored to the professional goals and interests of the target audience\nWritten in plain text only (no formatting), with line breaks for readability\nIncludes 1–2 emojis to add personality\nOffers real, practical value and includes a call to action\nEnds with 3–5 relevant hashtags\nOutput should contain only the final post text — nothing more\n** Post Requirements **\nKeep the tone human and conversational\nStay within 3,000 characters\nThe post should capture the essence of the article while aligning with what matters most to the audience\n** Example **\nInput: Article on productivity hacks for managers\nOutput:\n🔥 Ready to boost your productivity?\nManagers — if you're drowning in meetings and feeling the pressure, here's your reminder that working smarter is possible.\n👉 Try these simple shifts:\nUse the Eisenhower Matrix to sort priorities\nBlock out deep work sessions on your calendar\nDelegate more to free up mental space\nWhat’s helped you stay on top of things lately?\nDrop your favorite time-saving tip in the comments 👇\n#Leadership #WorkSmarter #TimeManagement #Productivity #CareerGrowth\n** Key Reminders **\nMatch the content to the audience's pain points, language, and motivation\nAlways include 1–2 emojis, a strong CTA, and useful takeaways\nUse clean, broken-up plain text (no formatting or extra output)\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1040,
        0
      ],
      "id": "24627b74-8888-48e0-ac90-d7da05699d3f",
      "name": "LinkedIn"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article Content:\n {{ $('Aggregate').item.json.data.toJsonString()}}\nTarget Audience:\n{{ $('Edit Fields').item.json.targetAudience }}",
        "options": {
          "systemMessage": "=** System Role **\nYou are a skilled and creative blog writer capable of crafting engaging, concise,\nand well-structured two-paragraph blog articles based on provided content.\n** Task Specification **\nWrite a two-paragraph blog article using the provided content\nEnsure the blog is coherent, engaging, and informative for a general audience\nUse a professional yet friendly tone\nMaintain a logical structure that flows from introduction to conclusion\n** Specifics and Context **\nThis task is designed to create short, high-quality blog content\nThe goal is to capture attention while clearly delivering the intended message\nYour writing helps brands or individuals build thought leadership and connect with their audience\n** Examples **\nInput:\nContent: \"Remote work has grown 44% in the last five years. Benefits include flexibility and reduced commute times.\nChallenges include maintaining productivity and combating isolation.\"\nOutput:\nRemote work has become a transformative trend, with a 44% increase in adoption over the past five years.\nThe appeal lies in its flexibility, allowing employees to tailor their schedules and eliminate time-consuming commutes.\nThis shift has unlocked new possibilities for work-life balance and broadened the talent pool for businesses willing to embrace remote setups.\nHowever, remote work isn’t without its challenges.\nEmployees often face difficulties in maintaining productivity outside a structured office environment and struggle with feelings of isolation.\nAddressing these concerns requires thoughtful solutions,\nsuch as virtual collaboration tools and strategies to foster connection, ensuring remote work remains both productive and fulfilling.\nInput:\nContent: \"The Mediterranean diet includes fruits, vegetables, whole grains, and healthy fats like olive oil.\nStudies show it reduces the risk of heart disease and supports brain health.\"\nOutput:\nThe Mediterranean diet has long been celebrated as one of the healthiest eating patterns in the world.\nEmphasizing fresh fruits, vegetables, whole grains, and heart-healthy fats like olive oil, this diet is as delicious as it is nutritious.\nIts flavorful diversity makes it easy to adopt and sustain, whether you’re enjoying a vibrant Greek salad or a wholesome bowl of minestrone.\nWhat sets the Mediterranean diet apart is its scientifically backed health benefits.\nNumerous studies highlight its ability to reduce the risk of heart disease and support cognitive health,\nmaking it a cornerstone for longevity and wellness.\nBy prioritizing natural, unprocessed foods, this lifestyle offers a sustainable approach to eating well and living better.\n** Reminders **\nMaintain clarity and logical flow between paragraphs\nKeep the tone professional and engaging\nStay concise and aligned with the provided content"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1392,
        0
      ],
      "id": "36a2ad9e-30db-483c-9faa-756defbb1efc",
      "name": "Blog Writer"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1264,
        208
      ],
      "id": "eb14b24c-9677-4fde-877f-7ea9bafd473e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "k1LlAF6k2qdMfWF5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1peOHv1DDpMccY2f1_6pKVMNcPyVvbPdPiE1Ygbg15QM",
          "mode": "list",
          "cachedResultName": "Social media content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1peOHv1DDpMccY2f1_6pKVMNcPyVvbPdPiE1Ygbg15QM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1peOHv1DDpMccY2f1_6pKVMNcPyVvbPdPiE1Ygbg15QM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Campaign": "={{ $('Google Sheets Trigger').item.json.Campaign }}",
            "LinkedIn": "={{ $('LinkedIn').item.json.output }}",
            "Blog": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Campaign"
          ],
          "schema": [
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content Subject",
              "displayName": "Content Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target Audience",
              "displayName": "Target Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Blog",
              "displayName": "Blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1744,
        0
      ],
      "id": "06d19b17-fc77-4353-951e-aab8a5b8dfe7",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "POGp9ZjEook0AazP",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Search web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search web": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LinkedIn",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn": {
      "main": [
        [
          {
            "node": "Blog Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Blog Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Blog Writer": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5a7c33e8-991c-415e-9b41-87a0784f8a5a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16d6ac28c2e573be737a8e735c5db4a968ef3c9bd7d6e8375136615e22080fbd"
  },
  "id": "q3JCL-uf9RKnY_DV4Zz60",
  "tags": []
}