workflows/gmail-inbox-classifier.json
{
  "name": "gmail-inbox-classifier",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        48
      ],
      "id": "440df28a-decf-4d41-b7e7-8d745eea3fd4",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "NWXfxgTLV2tfVzPK",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.from.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "senderName",
              "description": "Extract the sender's name from this email, if no name, return an empty string"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        224,
        48
      ],
      "id": "34424253-f951-4419-bd6f-39b810c05d2f",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        304,
        272
      ],
      "id": "15d91500-f22a-4ed7-87d5-71cc8eee26ea",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "k1LlAF6k2qdMfWF5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0abba1e6-6b6b-44b3-869a-f5b29d42788c",
              "leftValue": "={{ $json.output.senderName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        48
      ],
      "id": "61dd3b3a-c8e0-4f6a-818f-573e452d74e8",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4196171b-6528-4948-8b40-acf7887c9ea4",
              "name": "intro",
              "value": "=Dear {{ $json.output.senderName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -48
      ],
      "id": "7bb6f6e6-d55a-4f42-beb4-944a5014a070",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2e3d0f4-680b-48e1-b1fe-6c4e548eb0b2",
              "name": "intro",
              "value": "Hi,",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        144
      ],
      "id": "d7c2519e-f91f-4700-9063-23ab510e50b6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "intro",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1024,
        48
      ],
      "id": "8f9623ee-68a2-4a54-af12-5c22c292ac3f",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17f7b815-ad78-475b-9169-ae6b0faaa0a6",
              "name": "messageID",
              "value": "={{ $('Gmail Trigger').item.json.id }}",
              "type": "string"
            },
            {
              "id": "ddc0afbc-afc5-405f-a51b-c625b356418a",
              "name": "intro",
              "value": "={{ $json.intro }}",
              "type": "string"
            },
            {
              "id": "7d8f5ac0-096f-4f73-adb1-91665f972b93",
              "name": "threadId",
              "value": "={{ $('Gmail Trigger').item.json.threadId }}",
              "type": "string"
            },
            {
              "id": "4302c4ac-f662-4921-ac0b-5faaa4f4304c",
              "name": "text",
              "value": "={{ $('Gmail Trigger').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        48
      ],
      "id": "498be9ab-2663-45c6-a91d-486eefa393e2",
      "name": "Clean data"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Service Requests",
              "description": "questions about consulting services offered, rates, or availability.."
            },
            {
              "category": "Payments",
              "description": "questions about invoices, payments, or refunds."
            },
            {
              "category": "Consultation Requests",
              "description": "Scheduling initial consultations or follow-up meetings."
            },
            {
              "category": "Others",
              "description": "emails that don't clearly fit into the other categories."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json.",
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1472,
        48
      ],
      "id": "6a219224-5930-40c8-b8ed-b29fb4e2679a",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1552,
        336
      ],
      "id": "f1e06414-1d58-438f-8d5c-fc51270a9e83",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "k1LlAF6k2qdMfWF5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.messageID }}",
        "labelIds": [
          "Label_8918440111114626896"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1824,
        -240
      ],
      "id": "a9533889-8033-438e-a1bb-aa12dbed974f",
      "name": "Service Requests",
      "webhookId": "9adb8f00-28ad-494f-825d-543ec88f9707",
      "credentials": {
        "gmailOAuth2": {
          "id": "NWXfxgTLV2tfVzPK",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.messageID }}",
        "labelIds": [
          "Label_7132617605102125728"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1824,
        -48
      ],
      "id": "3c1c6696-6679-4298-8ecb-bc739ad4d464",
      "name": "Payment",
      "webhookId": "144be983-8025-4f1a-baa5-c68a1eeaacbb",
      "credentials": {
        "gmailOAuth2": {
          "id": "NWXfxgTLV2tfVzPK",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.messageID }}",
        "labelIds": [
          "Label_6716169416942119033"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1824,
        144
      ],
      "id": "390e1d80-759b-4c25-ab21-054fa3bc7d98",
      "name": "Consultation Requests",
      "webhookId": "60f433eb-d05d-401c-abde-db6565e63840",
      "credentials": {
        "gmailOAuth2": {
          "id": "NWXfxgTLV2tfVzPK",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.messageID }}",
        "labelIds": [
          "Label_1205345066776275283"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1824,
        336
      ],
      "id": "46a9b4f3-8a2e-45df-be2b-fdc0fef662ad",
      "name": "Others",
      "webhookId": "d8b4aaac-eb77-4c78-a324-0956e0738d5d",
      "credentials": {
        "gmailOAuth2": {
          "id": "NWXfxgTLV2tfVzPK",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "={{ $('Text Classifier').item.json.intro }} \nThank you for contacting us. We’ve received your request service and our team is currently reviewing the details you shared.  One of our specialists will get back to you within 24h with the next steps or any additional information if needed.  If you have any questions in the meantime, feel free to reach us at our email address.  Best regards, \nSupport Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2032,
        -240
      ],
      "id": "078c1156-691c-4aaa-85a6-f67855acdf06",
      "name": "Reply to a service request",
      "webhookId": "19fee7dc-57f6-4f84-b8b2-a201af70af93",
      "credentials": {
        "gmailOAuth2": {
          "id": "NWXfxgTLV2tfVzPK",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "message": "={{ $('Text Classifier').item.json.intro }} ,  Thank you for reaching out regarding your payment.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2032,
        -48
      ],
      "id": "6fcd0f26-1772-4fc6-a2e4-4a2426efac97",
      "name": "Reply to payment questions",
      "webhookId": "5cca3a86-f92b-469b-9ffb-ab9df9840409",
      "credentials": {
        "gmailOAuth2": {
          "id": "NWXfxgTLV2tfVzPK",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "={{ $('Text Classifier').item.json.intro }} ,  Thank you for contacting us. We’ve received your request for a consultation.  To proceed, please schedule your consultation using the following link: . If you already shared a preferred date and time, our team will confirm availability shortly.  you’ll receive all necessary details once the appointment is confirmed.  If you have any questions in the meantime, feel free to reach out.  Best regards,\nConsultation Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2032,
        144
      ],
      "id": "4c1d19e9-a737-4fd1-a1d0-c66c93c195e2",
      "name": "Reply to a consultation request",
      "webhookId": "c337c01e-f136-41a9-9d28-32eae118446a",
      "credentials": {
        "gmailOAuth2": {
          "id": "NWXfxgTLV2tfVzPK",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Clean data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean data": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Service Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Payment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultation Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Others",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service Requests": {
      "main": [
        [
          {
            "node": "Reply to a service request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment": {
      "main": [
        [
          {
            "node": "Reply to payment questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultation Requests": {
      "main": [
        [
          {
            "node": "Reply to a consultation request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7bcd03af-b749-4542-8c22-ada785f3c6ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16d6ac28c2e573be737a8e735c5db4a968ef3c9bd7d6e8375136615e22080fbd"
  },
  "id": "LmYgPaCOZllYFwiyHT5kp",
  "tags": []
}