workflows/LinkedIn-post-generator.json
{
  "name": "LinkedIn-post-generator",
  "nodes": [
    {
      "parameters": {
        "formTitle": "LinkedIn Post Generator",
        "formDescription": "Fill out all of the fields to get ready LinkedIn post",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "provide your email here",
              "requiredField": true
            },
            {
              "fieldLabel": "Post Topic",
              "placeholder": "Enter your post topic",
              "requiredField": true
            },
            {
              "fieldLabel": "Target Audience",
              "placeholder": "Please provide for what this content is",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -192,
        -32
      ],
      "id": "486f4062-e6c4-4dee-9184-7b4cf30ae195",
      "name": "Post information Form",
      "webhookId": "6ce3b43c-d91b-43df-9322-531926fbf061"
    },
    {
      "parameters": {
        "content": "### Content Ideas\n",
        "height": 192,
        "width": 272,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        -64
      ],
      "typeVersion": 1,
      "id": "be897461-350c-4709-9369-2baa41d2176e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Create Content\n* LinkedIn Post Description\n* Prompt for an image to generate with OpenAI\n* Title for LinkedIn Post",
        "height": 448,
        "width": 768,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -144
      ],
      "typeVersion": 1,
      "id": "c1f5e6ef-78c1-45d5-9df9-027e90cde1f0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        128,
        160
      ],
      "id": "db8eb2ec-35fb-497e-98c2-60763959af8e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "k1LlAF6k2qdMfWF5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Post Topic:  {{ $json['Post Topic'] }}\nTarget Audience: {{ $json['Target Audience'] }}",
        "options": {
          "systemMessage": "=** Purpose **\nCreate LinkedIn posts that are professional, insightful, and engaging — tailored to any topic and audience.\n** How It Works **\nWhenever you receive a topic, follow this process:\n1. Research\n- Use the Tavily tool to perform a real-time search.\n- Gather the most recent, credible, and relevant insights.\n- Focus on facts, stats, case studies, and trends that add value.\n2. Write the Post\n- Start with a strong hook to grab attention.\n- Use a professional, confident tone.\n- Make it clear and easy to read — short paragraphs, strong flow.\n- Prioritize educational and actionable insights.\n- Use emojis only when they truly add value (keep it minimal).\n- Add proper attribution (e.g., “according to [source]”).\n- End with a call to action: invite thoughts, feedback, or shares.\n- Include relevant, topic-specific hashtags to increase reach.\n** Output Rules **\nOutput only the final LinkedIn post description.\nDon’t explain the post or mention the steps taken.\nDon’t include quotation marks or formatting outside of what’s natural in the post.\n\n** Sample Use Case **\nTopic: The ROI of warehouse automation\n- You research the latest stats, success stories, and market trends.\n- Then, you craft a polished LinkedIn post with a hook, key data, expert insight, and a strong CTA"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        -32
      ],
      "id": "de695b8e-bfe7-4dbb-84f9-bc8bb05da9fc",
      "name": "LinkedIn Post Description AI Agent"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the web.",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"query\": \"{{ $json['Post Topic'] }}\",\n \"topic\": \"general\",\n \"search_depth\": \"advanced\",\n \"chunks_per_source\": 3,\n \"max_results\": 1,\n \"time_range\": null,\n \"days\": 7,\n \"include_answer\": true,\n \"include_raw_content\": false,\n \"include_images\": false,\n \"include_image_descriptions\": false,\n \"include_domains\": [],\n \"exclude_domains\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        304,
        160
      ],
      "id": "ddfbe085-be6f-4709-bb3f-118cfb0cfd45",
      "name": "Search web",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mhsfFj56KXSTBySN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Description:{{ $('LinkedIn Post Description AI Agent').item.json.output }}",
        "options": {
          "systemMessage": "** Overview **\nYour job is to create a clear & highly engaging title for the linkedin post based on it's description."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        -32
      ],
      "id": "b2cb5570-b954-4a98-b7ef-6289f7bdbe4e",
      "name": "Generate Title AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        512,
        144
      ],
      "id": "9e2b3f65-71d9-4f3e-a250-69e08e001759",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "k1LlAF6k2qdMfWF5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "content": "### Publish",
        "height": 240,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        -144
      ],
      "typeVersion": 1,
      "id": "a261baff-1338-4ec0-bc04-9cf87bc8d3cc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Send a confirmation",
        "height": 208,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        112
      ],
      "typeVersion": 1,
      "id": "43f880b3-091b-4997-a771-243513648cb1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Post information Form').item.json.Email }}",
        "subject": "Your LinkedIn Post is published",
        "emailType": "text",
        "message": "=Title:  {{ $('Generate Title AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        928,
        176
      ],
      "id": "891434bc-b6a1-44bd-bbe4-03e822ff905b",
      "name": "Send a message",
      "webhookId": "0c4056bd-c2dc-4c50-bb21-9e1d5d118ae2",
      "credentials": {
        "gmailOAuth2": {
          "id": "NWXfxgTLV2tfVzPK",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "person": "kddvs4QlhO",
        "text": "={{ $('LinkedIn Post Description AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        928,
        -80
      ],
      "id": "c76fb316-0b38-4fa1-84da-8dae09554884",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "FOaLDU4swNpDVQod",
          "name": "LinkedIn account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Post information Form": {
      "main": [
        [
          {
            "node": "LinkedIn Post Description AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LinkedIn Post Description AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Post Description AI Agent": {
      "main": [
        [
          {
            "node": "Generate Title AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search web": {
      "ai_tool": [
        [
          {
            "node": "LinkedIn Post Description AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Title AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Title AI Agent": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "071a378d-6841-4f76-a59d-9c722b474e23",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16d6ac28c2e573be737a8e735c5db4a968ef3c9bd7d6e8375136615e22080fbd"
  },
  "id": "klXAsldjvH1M9NqnWT-iO",
  "tags": []
}