workflows/Motivational Quote Generator.json
{
  "name": "Motivational Quote Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        32
      ],
      "id": "13fa7344-53c1-449f-8856-2ea39a43c72b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Create a motivational quote, give just a quote itself, no extra text.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        208,
        -64
      ],
      "id": "b40e4062-5ea3-4b24-b578-2539ec2263dc",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        280,
        160
      ],
      "id": "85729771-33a2-42a8-8247-21919fe6770d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "npW93yxvQhN7PmRt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email Address'] }}",
        "subject": "Motivational Quote",
        "emailType": "text",
        "message": "={{ $('Basic LLM Chain').item.json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        784,
        -64
      ],
      "id": "0a5c0138-1451-42cc-962a-51681ea1b172",
      "name": "Send Quote",
      "webhookId": "5ea841e3-e957-49cb-bfe0-1b8615877173",
      "credentials": {
        "gmailOAuth2": {
          "id": "Aq9YEwGIMnMmhgzV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        -160
      ],
      "id": "7c908e8d-2160-4ea2-889f-cefc07805bb3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VrAeLgo5kvRWIx-Y4fo3NirlMm8aFUYwnR5qnv6Efio",
          "mode": "list",
          "cachedResultName": "Motivational Ouotes Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VrAeLgo5kvRWIx-Y4fo3NirlMm8aFUYwnR5qnv6Efio/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VrAeLgo5kvRWIx-Y4fo3NirlMm8aFUYwnR5qnv6Efio/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        -64
      ],
      "id": "a820aff2-e434-4b30-847d-df396faeecc0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fm6a6tlNzrFOr78V",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Quote": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1f18dc6d-64ed-4f8b-8045-7ecbcb1e2f53",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "586859ebd21d83e1717956acaef9e2c1636fe68d7b4454b0a49fd98bde13048e"
  },
  "id": "k5oIMr91xl8h2t5B",
  "tags": []
}