workflows/onboarding-system.json
{
  "name": "onboarding-system",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output\nconst parsed = JSON.parse(text)\nreturn parsed"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        1104
      ],
      "id": "ca6ee0c4-08e0-4d84-a284-1cf0a99c2bf1",
      "name": "Parse follow-up JSON"
    },
    {
      "parameters": {
        "formTitle": "Onboarding System",
        "formDescription": "Please fulfill all of the fields",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name",
              "placeholder": "Please enter your first Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Last Name",
              "placeholder": "Please enter your last name",
              "requiredField": true
            },
            {
              "fieldLabel": "Phone",
              "fieldType": "number",
              "placeholder": "Please enter your phone number",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Please provide your email",
              "requiredField": true
            },
            {
              "fieldLabel": "Industry",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Thank you! Your onboarding is in progress.  You'll receive a welcome email shortly and a calendar invite for your welcome call"
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        464,
        1248
      ],
      "id": "c2425d6f-b0cc-45a7-afd3-900d841d6826",
      "name": "Form - New Client",
      "webhookId": "c42fff8a-d869-4792-9226-bc6f4b706238"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn [{\n  json: {\n    ...data,\n    'First Name': data['First Name'].trim(),\n    'Last Name': data['Last Name'].trim(),\n    'Email': data['Email'].trim().toLowerCase(),\n    'Industry': data['Industry'].trim(),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        1248
      ],
      "id": "9804858d-bcec-4fed-aab4-cc5f9160c05d",
      "name": "Clean Form data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Can you generate a warm and professional welcome email for a new client based on the information provided?\nThe message should be friendly, brief, and personalized—while still sounding professional.\nIt should reflect the client’s industry and their goals for our collaboration. Below is the client’s information:\nName: {{ $json['First Name'] }}\nEmail: {{ $json.Email }}\nCompany Industry: {{ $json.Industry }}\n\nMake sure to always end the email with the following sign-off:\nBest regards,\nBob Bob\nVP of Internal Relations\nABC Corp\nDo not use placeholders like [Your Name] or\n[Your Contact Information] under any circumstances, even if some information is missing.\nAlways respond ONLY in this exact JSON format with no extra text, no markdown, no code fences:\n{\"Subject\": \"...\", \"Body\": \"...\", \"Email\": \"...\"}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        992
      ],
      "id": "c1c4993d-867c-4851-a5d5-430cd6b76e6b",
      "name": "AI - Generate Welcome Email"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        992,
        1216
      ],
      "id": "77e09252-6ab3-40e8-a869-82475c4a6e73",
      "name": "GPT-4o-mini (Email)",
      "credentials": {
        "openAiApi": {
          "id": "VcFg8Xw8Z2GlaTsR",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1712,
        1104
      ],
      "id": "b58bbae0-2870-45b0-9919-b8e6a5ce225e",
      "name": "Wait - 2 Days",
      "webhookId": "29af27ef-408b-4fa4-8828-a4ee71514ed9"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output;\n\nconst parsed = JSON.parse(text)\n\nreturn parsed"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        1104
      ],
      "id": "85171871-192a-459e-818c-49a6fc4e5cb2",
      "name": "Parse - JSON"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "={{ $json.Subject }}",
        "message": "={{ $json.Body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1488,
        1104
      ],
      "id": "f3f155ac-1c4a-4574-9526-fc6419530c8e",
      "name": "Gmail - Send Welcome Email",
      "webhookId": "c61c6710-f0d9-4c10-b235-2f0f4294608b",
      "credentials": {
        "gmailOAuth2": {
          "id": "cSPfcPbPdnncBUMB",
          "name": "Gmail OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional client success manager at ABC Corp.\n\nWrite a short, warm follow-up email to a client who onboarded 2 days ago.\nThe email should:\n- Check in and ask how they are settling in\n- Offer help if they have any questions\n- Feel personal, not automated\n- Be no longer than 5 sentences\n\nClient information:\nName: {{ $('Clean Form data').item.json['First Name'] }}\nIndustry: {{ $('Clean Form data').item.json['Industry'] }}\nemail: {{ $('Clean Form data').item.json.Email }}\n\nMake sure to always end with:\nBest regards,\nBob Bob\nVP of Internal Relations\nABC Corp\n\nAlways respond ONLY in this exact JSON format with no extra text, no markdown, no code fences:\n{\"Subject\": \"...\", \"Body\": \"...\", \"Email\": \"...\"}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1936,
        1104
      ],
      "id": "e9db67f5-2a52-455b-98ea-d21c6165d783",
      "name": "AI - Generate Follow-up Email"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2016,
        1328
      ],
      "id": "090e6f78-367e-46c5-887d-57875542b515",
      "name": "GPT-4o-mini (Follow-up)",
      "credentials": {
        "openAiApi": {
          "id": "VcFg8Xw8Z2GlaTsR",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "={{ $json.Subject }}",
        "message": "={{ $json.Body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2512,
        1104
      ],
      "id": "5b2ec5cc-b152-45f5-8be8-ec121d7243a5",
      "name": "Gmail - Send Follow-up Email",
      "webhookId": "ea8e218f-25b6-4de1-adab-1986e5eb0eb7",
      "credentials": {
        "gmailOAuth2": {
          "id": "cSPfcPbPdnncBUMB",
          "name": "Gmail OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a CRM assistant. Based on the client information below, \ngenerate a concise professional profile summary.\n\n \nName: {{ $json['First Name'] }} {{ $json['Last Name'] }}\nEmail: {{ $json.Email }}\nIndustry: {{ $json.Industry }}\n\nReturn the following fields:\n- Name: the client's full name\n- Email: the client's email address  \n- Summary: a 2-3 sentence professional overview of this client \n  based on their industry, suitable for a CRM contact record\n\nAlways respond ONLY in this exact JSON format with no extra text, \nno markdown, no code fences:\n{\"Name\": \"...\", \"Email\": \"...\", \"Summary\": \"...\"}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        592
      ],
      "id": "f3bed5cf-d1dd-4533-81d9-750767ebce17",
      "name": "AI - Generate Client Summary"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        992,
        816
      ],
      "id": "7c515baa-0e75-4fbf-bd2a-40a3c1b108aa",
      "name": "GPT-4o-mini (Summary)",
      "credentials": {
        "openAiApi": {
          "id": "VcFg8Xw8Z2GlaTsR",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output;\nconst parsedText = JSON.parse(text);\nreturn parsedText"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        688
      ],
      "id": "2955e425-bde7-432c-b6a2-5a8bb5ebf626",
      "name": "Parse Summary JSON"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nhZDjlQ_vhSHHoZwigsrH3akRFvl46LHLe2ks2SDtu8",
          "mode": "list",
          "cachedResultName": "clients's onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nhZDjlQ_vhSHHoZwigsrH3akRFvl46LHLe2ks2SDtu8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nhZDjlQ_vhSHHoZwigsrH3akRFvl46LHLe2ks2SDtu8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Phone": "={{ $('Form - New Client').item.json.Phone }}",
            "Industry": "={{ $('Form - New Client').item.json.Industry }}",
            "Onboarded At": "={{ $now.toISO()}}",
            "Summary": "={{ $json.Summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Onboarded At",
              "displayName": "Onboarded At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1632,
        688
      ],
      "id": "e8b1f3d3-7a55-43d0-b57b-3b6354f9aa4a",
      "name": "Sheets - Save Client",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yYonmbwKsAJWJpMy",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $('Clean Form data').item.json.Email }}",
        "additionalFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "ai_summary",
                "value": "={{ $('Parse Summary JSON').item.json.Summary }}"
              }
            ]
          },
          "firstName": "={{ $('Clean Form data').item.json['First Name'] }}",
          "industry": "={{ $('Clean Form data').item.json.Industry }}",
          "lastName": "={{ $('Clean Form data').item.json['Last Name'] }}",
          "phoneNumber": "={{ $('Clean Form data').item.json.Phone }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1968,
        688
      ],
      "id": "157cbcc6-3b4e-459e-8e8b-49acb1c67a78",
      "name": "HubSpot - Create/Update Contact",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "UTGhCLHfelnk8Xf9",
          "name": "HubSpot OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ARMNFK4UT",
          "mode": "list",
          "cachedResultName": "social"
        },
        "text": "=🟢 New client onboarded!  \n\nName: {{ $('Form - New Client').item.json['First Name'] }} {{ $('Form - New Client').item.json['Last Name'] }}\nEmail: {{ $('Form - New Client').item.json['Email'] }} \nIndustry: {{ $('Form - New Client').item.json['Industry'] }} \nSubmitted at: {{ $('Form - New Client').item.json['submittedAt'] }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        976,
        1584
      ],
      "id": "9bdc42b2-2c44-46d7-acfc-08cd149262bb",
      "name": "Slack - Notify Team",
      "webhookId": "ce18051b-89b5-4551-bec8-e23025faa314",
      "credentials": {
        "slackOAuth2Api": {
          "id": "geAQwHfsT3TthU88",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "meryem.bouchhar@gmail.com",
          "mode": "list",
          "cachedResultName": "meryem.bouchhar@gmail.com"
        },
        "start": "={{ $now.plus(2, 'days').startOf('hour').toISO() }}",
        "end": "={{ $now.plus(2, 'days').startOf('hour').plus(1, 'hour').toISO() }}",
        "additionalFields": {
          "attendees": [
            "={{ $json.Email }}"
          ],
          "description": "=Welcome call with new client from the {{ $('Clean Form data').item.json['Industry'] }} industry.  Client email: {{ $('Clean Form data').item.json['Email'] }} Client phone: {{ $('Clean Form data').item.json['Phone'] }}",
          "sendUpdates": "all",
          "summary": "=Welcome Call - {{ $('Clean Form data').item.json['First Name'] }} {{ $('Clean Form data').item.json['Last Name'] }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        976,
        1392
      ],
      "id": "f3171056-981a-42e9-97ee-6f9354b85184",
      "name": "Calendar - Schedule Welcome Call",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CGYIkwFmt1XtGlMw",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const formData = $('Clean Form data').first().json;\n\nreturn [{\n  json: {\n    Timestamp: new Date().toISOString(),\n    'Client Name': `${formData['First Name']} ${formData['Last Name']}`,\n    Email: formData['Email'],\n    Industry: formData['Industry'],\n    'Email Sent': 'Yes',\n    'Calendar Created': 'Yes',\n    'Slack Notified': 'Yes',\n    Status: 'Completed'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        1104
      ],
      "id": "15d2acb7-449c-42cc-b5e2-ca922b3ea1e1",
      "name": "Build Log Entry"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nhZDjlQ_vhSHHoZwigsrH3akRFvl46LHLe2ks2SDtu8",
          "mode": "list",
          "cachedResultName": "clients's onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nhZDjlQ_vhSHHoZwigsrH3akRFvl46LHLe2ks2SDtu8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1857315534,
          "mode": "list",
          "cachedResultName": "Execution Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nhZDjlQ_vhSHHoZwigsrH3akRFvl46LHLe2ks2SDtu8/edit#gid=1857315534"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Name": "={{ $json['Client Name'] }}",
            "Timestamp": "={{ $json.Timestamp }}",
            "Email": "={{ $json.Email }}",
            "Industry": "={{ $json.Industry }}",
            "Email Sent": "=Yes",
            "Calendar Created": "yes",
            "Slack Notified": "yes",
            "Status": "New"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Calendar Created",
              "displayName": "Calendar Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Slack Notified",
              "displayName": "Slack Notified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2816,
        1104
      ],
      "id": "d5ae97cc-2064-4f18-98c4-60d57dcac167",
      "name": "Sheets - Log Execution",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yYonmbwKsAJWJpMy",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {
    "Form - New Client": [
      {
        "json": {
          "First Name": "Mohammed",
          "Last Name": "Bouchhar",
          "Phone": 675070080,
          "Email": "yokosoguts@gmail.com",
          "Industry": "IT",
          "submittedAt": "2026-04-20T19:16:36.907+01:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Parse follow-up JSON": {
      "main": [
        [
          {
            "node": "Gmail - Send Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form - New Client": {
      "main": [
        [
          {
            "node": "Clean Form data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Form data": {
      "main": [
        [
          {
            "node": "AI - Generate Client Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI - Generate Welcome Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack - Notify Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calendar - Schedule Welcome Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Generate Welcome Email": {
      "main": [
        [
          {
            "node": "Parse - JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o-mini (Email)": {
      "ai_languageModel": [
        [
          {
            "node": "AI - Generate Welcome Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait - 2 Days": {
      "main": [
        [
          {
            "node": "AI - Generate Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse - JSON": {
      "main": [
        [
          {
            "node": "Gmail - Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send Welcome Email": {
      "main": [
        [
          {
            "node": "Wait - 2 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Generate Follow-up Email": {
      "main": [
        [
          {
            "node": "Parse follow-up JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o-mini (Follow-up)": {
      "ai_languageModel": [
        [
          {
            "node": "AI - Generate Follow-up Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send Follow-up Email": {
      "main": [
        [
          {
            "node": "Build Log Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Generate Client Summary": {
      "main": [
        [
          {
            "node": "Parse Summary JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o-mini (Summary)": {
      "ai_languageModel": [
        [
          {
            "node": "AI - Generate Client Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Summary JSON": {
      "main": [
        [
          {
            "node": "Sheets - Save Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Save Client": {
      "main": [
        [
          {
            "node": "HubSpot - Create/Update Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot - Create/Update Contact": {
      "main": [
        []
      ]
    },
    "Slack - Notify Team": {
      "main": [
        []
      ]
    },
    "Calendar - Schedule Welcome Call": {
      "main": [
        []
      ]
    },
    "Build Log Entry": {
      "main": [
        [
          {
            "node": "Sheets - Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "25f2b494-63dc-4808-bca4-5cfc9792f7af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "492601e3e812d3c98db0b72e67c730cd02727a17b852fa771a1db22ae157e2ba"
  },
  "id": "Oi3RxELjIjJttkFN",
  "tags": []
}